* {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
    background-color: black;
    color: white;
}

.container {
    height: 800px;
    width: 500px;
    text-align: center;
}

img {
    height: 100px;
    margin-top: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-right: 32%;
    margin-top: 7%;
    margin-bottom: 1%;
}

input[type="email"] {
    width: 250px;
    padding: 12px;
    border: 1px solid white;
}

input[type="submit"] {
    padding: 12px;
    width: 300px;
    margin-top: 3%;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    background-color: rgb(11, 243, 11);
    border: none;
}

a[type="number"] {
    margin-right: 30%;
    margin-top: 10%;
}

button {
    padding: 12px;
    width: 300px;
    margin-top: 3%;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    color: white;

}

button[type="submit"] {
    background-color: rgb(11, 243, 11);
    border: none;
}